doctype html
html
    head
        meta(charset= 'utf-8')
        title= 'Game'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1='Id: ' + object.id
        h1='Gamers: '
        h1="IdPlayer: " + object.gamers[0]._id + ", NamePlayer: " + object.gamers[0].name + ", BetPlayer: " + object.gamers[0].bet
        h1="IdPlayer: " + object.gamers[1]._id + ", NamePlayer: " + object.gamers[1].name + ", BetPlayer: " + object.gamers[1].bet
        h1="IdPlayer: " + object.gamers[2]._id + ", NamePlayer: " + object.gamers[2].name + ", BetPlayer: " + object.gamers[2].bet

        h1='InProgres: ' + object.inProgres
        h1='Winner: ' + object.winner[0]._id + ", NamePlayer: " + object.winner[0].name + ", BetPlayerAcomulated: " + object.winner[0].betAcomulated
        form(method='GET', action= '/getWinnerGame' , name='GameStatus' )
            table
                tr

                    td(colspan='2', align='right')

                        input(type='submit' , value='GetWinn')
